/* .zales {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;


  .zales__item {
    width: 580px;
    height: 349px;
    background-color: red;

    display: flex;
    justify-content: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: transform 200ms linear;

    &:hover {
      transform: scale(110%);
    }
  }
} */


.zales-section{
  margin-bottom: 100px;
}

.zales-container{
  width: 1180px;
  margin: 0 auto;
}

.zales{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 100%;

  .zales__item{
    width: 100%;
    background-color: red;

    display: flex;
    justify-content: center;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: transform 200ms linear;

    &:hover {
      transform: scale(110%);
    }
  }
}

.rest-zone {
  padding-top: 50px;
  height: 708px;
  margin-bottom: 170px;
}

.rest-container{
  width: 1180px;
  margin: 0 auto;
}

.rest-zone__list {
  display: flex;
  flex-wrap: wrap;
  gap: 39px 20px;

  .rest-zone__item {
    width: 380px;
    height: 228px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    transition: transform 200ms linear;

    &:hover {
      transform: scale(110%);
    }

    a {
      margin-top: 166px;
      width: 300px;
      text-align: left;

      font-size: 20px;
      font-weight: 700;
    }
  }
}

.rest-zone__item__two,
.rest-zone__item__four {
  width: 380px;
  height: 228px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 70px;
  transition: transform 200ms linear;

  &:hover {
    transform: scale(110%);
  }

  a {
    margin-top: 166px;
    width: 300px;
    text-align: left;

    font-size: 20px;
    font-weight: 700;
  }
}

@media (max-width:768px) {
  .rest-container {
    width: 688px;
    position: relative;
    bottom: 250px;
    margin-bottom: 30px;
  }
  /* .rest-zone__list {
    width: 688px;
    display: grid;
    grid-template-columns: 334px 334px;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas:" a b"
    "c d"
    "e f";
  } */
  .rest-zone__list {
    --cart-count:2;

  }
  .rest-zone__item {
    max-width: 334px;
    max-height: 200px;
  }
  .rest-zone__item__two {
    max-width: 334px;
    max-height: 200px;
    top: 0;
  }
  .rest-zone__item__four {
    max-width: 334px;
    max-height: 200px;
    top: 0;
  }
  .rest-zone__item {
    &:hover {
    transform: 0;
    }
}
  .rest-zone__item__two, 
  .rest-zone__item__four {
    a {
        margin-top: 150px;
    }
}
  .zales-container {
    width: 688px;
    position: relative;
    bottom: 230px;
  }
  .zales__item {
    width: 335px;
    height: 200px;
  }
}